In [57]:
import pandas as pd
import re

df = pd.read_csv('pokemon_data.csv')
#df.columns

# for iterating through the dataframe:
# for index, row in df.iterrows():
    # print(index, row)

# Pretty important for locating stuff!!
#df.loc[df['Type 1'] == 'Fire']

#Sorting the data
#df.sort_values(['Type 1', 'HP'], ascending = [1,0])

#Creating new columns in the database, long way
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#df = df.drop(columns = ['Total'])

#df['Total'] = df.iloc[:, 4:10].sum(axis = 1)

#Saving our changes
#df.to_csv('modified_pandas.csv', index = False)

#Filtering data
#df.loc[(df['Type 1'] == 'Dark') & (df['Type 2'] == 'Dragon') & (df['HP'] > 10)]

# Regex filtering
# Show all names with "Mega" in them
#df.loc[df['Name'].str.contains('Mega')]

#Show all names that DON'T have "Mega" in them. Note the "~"
#df.loc[~df['Name'].str.contains('Mega')]

#Regular expressions to find types, note to self: Look into these more, very cool
# Give me all entries with Type 1 of grass or fire
#df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

# Give me all entries that start with 'pi' with zero or more characters
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False